<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Abogada Elile</title>
</head>
<body>
    
        <nav class="navbar">
            <div class="navbar-left">
                <div class="dropdown">
                    <button class="dropbtn">¿Quien soy?</button>
                </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Pasatiempos</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Emprendimietos</button>
                </div>
            </div>
            <div class="navbar-right">
                <button class="dropbtn">Elile Camila Aguilar Torres</button>
            </div>
        </nav>

    <h1>ASESORIA EN DERECHO</h1>
    <div class="content">
    <h3>
    Soy Elile Camila Aguilar Torres, estudiante de séptimo semestre de Derecho y tercero de Sociología. 
    Mi formación interdisciplinaria me ha permitido desarrollar una perspectiva integral del derecho y su impacto social, 
    combinando el análisis jurídico riguroso con la comprensión profunda de las dinámicas sociales.
    Me caracterizo por mi responsabilidad, disciplina y compromiso profesional en cada proyecto que emprendo. 
    Estas cualidades, junto con mi dedicación al estudio y mi enfoque metódico de trabajo, 
    me permiten abordar los desafíos académicos y profesionales con seriedad y excelencia.
    </h3>
    </div>
    <img src="static/elile.png" alt="yo">

    <h3 class="content2">
        <p>Descripción del Producto o Servicio
        Definición clara de las funcionalidades principales del software ofrecido. Descripción de las tecnologías utilizadas 
        (lenguajes de programación, plataformas, herramientas).
        Explicación de cómo estas funcionalidades se ajustan a las necesidades específicas del proyecto de desarrollo de software</p>
    </h3>
    <img src="static/photo_2025-08-12_20-33-29.jpg" alt="abogada">


    
    <footer>
       <h4> redes sociales</h4>
       <p>facebook</p>
       <p>tiktok</p>
       <p>instagram</p>
       <p>correo</p>
    </footer>
    
</body>
</html>